<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="parts/header :: header"></header>

<div class="container mt-5">
    <th:block th:each="item : ${post}">
        <div class="alert alert-info mt-2">
            <h3 th:text="${item.getTitle()}"></h3>
            <p th:text="${item.getAnons()}"></p>
            <a th:href="'/blog/' + ${item.getId()}" class="btn btn-warning">Подробно</a>
        </div>
    </th:block>
</div>

<div th:insert="parts/footer :: footer"></div>

</body>
</html>